/* html {
    background: url(https://www.bbg.org/img/uploads/lightbox/_lightbox_retina/camellia-winters-star-snowy_BB_11312791746.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */