html{
  background-color: antiquewhite;
  margin: 0px auto;
  text-align: center;
  max-width: 100%;
}
header {
  background: url(https://www.bbg.org/img/uploads/lightbox/_lightbox_retina/batonrouge_BB_39173396602.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 1em;
  box-shadow: 1px 1px 6px gray;
  margin-bottom: 0.75em;
}
header h1 {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: antiquewhite;
  font-size: 300%;
}
/* h2,h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
  overflow: hidden;
} */
main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  padding-left: 2%;
  /* margin: auto;
  align-content: center; */
}

aside {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
}
aside > div {
  min-height: 40vh;
}
.birds {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 70%;
  /* justify-content: space-between; */
}

.card {
  width: 40%;
  padding: 0.5em 3em;
  margin: 1em;
  /* border-radius: 4px; */
  border: 1px solid gray;
  box-shadow: 3px 3px 8px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://www.bbg.org/img/uploads/lightbox/_lightbox_retina/batonrouge_BB_39173396602.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.card img {
  max-width: 100%;
  margin: auto;
  box-shadow: 1px 1px 6px grey;
}

.cart,
.checkout {
  width: 100%;
  padding: 0.3em;
  margin: 1em 0em;
  text-align: center;
  border: 1px solid gray;
  background: url(https://www.bbg.org/img/uploads/lightbox/_lightbox_retina/batonrouge_BB_39173396602.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
} */

p {
  font-size: 0.75em;
}
