body {
  font-family: fantasy;
  background: url('https://img.freepik.com/premium-photo/beautiful-sky-colorful-gentle-light-day-background-sunny-fluffy-clouds-with-magical-violet-purple-color-cloud-picturesque_31965-198873.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702598400&semt=ais');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: rgb(195, 247, 235);
  padding: 1em;
  box-shadow: 1px 1px 6px gray;
  margin-bottom: 0.75em;
  text-align: center;
  border-radius: 4px;
}
main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

aside {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
}
aside > div {
  min-height: 40vh;
}
.birds {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  justify-content: space-between;
}

.card {
  width: 20%;
  padding: 0.5em 3em;
  margin: 1em;
  border-radius: 4px;
  box-shadow: 3px 3px 8px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(229, 250, 245);
}

.card img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  box-shadow: 1px 1px 6px grey;
}

.cart,
.checkout {
  width: 100%;
  padding: 0.3em;
  margin: 1em 0em;
  text-align: center;
  border: 2px solid gray;
  background-color: lightblue;
  border-radius: 4px;
}

h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}

p {
  font-size: 0.75em;
}

.card button {
  margin-top: 10px;
  background-color: aquamarine;
  border-radius: 4px;
  font-family: fantasy;
}

.checkout input {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

.checkout button {
  margin-top: 5px;
}