body {
  background-color: rgb(51, 133, 51);
}
header {
  background: rgb(195, 247, 235);
  padding: 1em;
  box-shadow: 1px 1px 6px gray;
  margin-bottom: 0.75em;

  background-image: url("./Images/sunflower.jpeg");
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-position: center; */
  text-align: center;
}
main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

aside {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
}
aside > div {
  min-height: 40vh;
}
.birds {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  justify-content: space-between;
}

.card {
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: 3px 3px 8px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid gray;
  background: rgb(229, 250, 245);
  background-image: url("./Images/background-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 20%;
  padding: 0.5em 3em;
  margin: 1em;
  border-radius: 4px;
  box-shadow: 3px 3px 8px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: rgb(229, 250, 245); */
}

.card img {
  max-width: 70%;
  margin: auto;
  box-shadow: 1px 1px 6px grey;
}

.cart,
.checkout {
  width: 100%;
  padding: 0.3em;
  margin: 1em 0em;
  text-align: center;
  border: 5px solid gray;
  background-image: url("./Images/background-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h4,
h5,
p {
  background-color: white;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}

p {
  font-size: 0.75em;
}

button {
  margin-top: 10px;
}

.delete-button {
  margin-left: 10px;
}
/* Button.css */

.rainbow-button {
  /* Define default button styles */
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Rainbow hover effect */
.rainbow-button:hover {
  background-image: linear-gradient(
    45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
  background-size: 400%;
  animation: rainbow-animation 3s infinite;
}

/* Animation for the rainbow hover effect */
@keyframes rainbow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400%;
  }
}
