html {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
  background: rgb(247, 205, 195);
  padding: 1em;
  box-shadow: 1px 1px 6px gray;
  margin-bottom: 0.75em;
  text-align: center;
}
main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

aside {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
}
aside > div {
  min-height: 40vh;
}
.birds {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  justify-content: space-between;
}

.card {
  width: 20%;
  padding: 0.5em 3em;
  margin: 1em;
  border-radius: 4px;
  box-shadow: 3px 3px 8px dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(250, 230, 229);
}

.card img {
  max-width: 70%;
  height: 150px;
  margin: 0 auto;
  box-shadow: 1px 1px 6px grey;
}

.adopt-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.remove-button {
  margin-left: 15px;
}

.bird-li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bonus-li {
  margin-top: 15px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin-top: 50px;
  padding-left: 0;
}

.your-donations {
  color: red;
}

.cart,
.checkout {
  width: 100%;
  padding: 0.3em;
  margin: 1em 0em;
  text-align: center;
  border: 1px solid gray;
}

h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}

p {
  font-size: 0.75em;
}
